{% load static %}
<!DOCTYPE html>
<html>
<head>
    <title>Weather App</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'index.css' %}?v=2">
    <link
      href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;500;600&display=swap"
      rel="stylesheet"
    />
</head>
<body>
    

<div class="container">

    <h1>Weather App</h1>

    <form method="POST">
        {% csrf_token %}
        <input type="text" name="city" placeholder="Enter city">
        <button type="submit" class="btn">Search</button>

    </form>

    <div class="weather">

        <div class="left">
            <h2>{{ temp }}°C</h2>
            <h3>{{ city }}</h3>
        </div>

        <div class="right">
            <img src="http://openweathermap.org/img/w/{{ icon }}.png" width="80px">
            <p>{{ description }}</p>
            <p>{{ day }}</p>
        </div>

    </div>

</div>



</body>
</html>